.attribution {
    background-color: hsl(212, 45%, 89%);
    height: 5vh;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
  }

  p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
  }

  h1 {
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-weight: 700;
    margin: 2px;
  }

  #container {
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #card {
    margin: 0 10px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    border-radius: 15px;
    max-height: 500px;
    max-width: 300px;
  }

  #img-div {
    overflow: hidden;
    border-radius: 15px;
    height: 60%;
  }

    #img-div img{
        height: 100%;
        width: 100%;
    }
  #desc {
    margin-top: 10%;
    height: 30%;
  }
